form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 50%;
}

label {
  color: darkgreen;
}

input {
  padding: 10px;
  border: 1px solid red;
}

textarea {
  border: 1px solid red;
  width: 60%;
}

iframe {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
